.App {
  background-color: #282c34;
  min-height: 100vh;
  color: white;
  padding: 0.5em;
}

.App-header {
  font-size: calc(10px + 2vmin);
}

textarea.textarea {
  background-color: transparent;
  color: white;
}